@mixin d-flex($justify-content:center,$wrap:wrap) {
    display: flex;
    justify-content: $justify-content;
    align-items: center;
    flex-wrap: $wrap;
}

@mixin container{
    width: 1000px;
    margin: auto;
    height: 100%;
    }